header {
    border-bottom: 2px solid;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 0px
}

h4 {
    margin: 16px 0px
}

nav {
    display: flex;
}

nav button {
    flex: 1;
    background-color: lightblue;
}
.active {
    background-color: lightcoral;
}

.converter-app {
    border: 2px solid;
    width: 33%;
    background-color: rgb(224, 210, 200);
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(122, 122, 122);
}

@media (max-width: 1200px) {
    .converter-app {
        width: 66%;
    }
}

@media (max-width: 750px) {
    .converter-app {
        width: 100%;
    }
}

.converter-type {
    border-top: 1px solid;
    padding: 10px;
}

.converter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.converter-result {
    display: flex;
    gap: 10px;
    border-top: 2px solid;
    padding: 0px 10px;
}